[submodule "linux/third_party/connectedhomeip"]
	path = linux/third_party/connectedhomeip
	url = /Users/luz/Code/looking_at_external_stuff/connectedhomeip
	branch = luz
[submodule "p44utils"]
	path = p44utils
	url = ssh://plan44@plan44.ch/home/plan44/sharedgit/p44utils.git
	branch = luz
