[submodule "src/third_party/connectedhomeip"]
	path = src/third_party/connectedhomeip
	url = ../connectedhomeip
	branch = luz_p44mbrd
[submodule "src/p44utils"]
	path = src/p44utils
	url = ../p44utils.git
	branch = luz
